body {
    background-color: #82f2ff;
    font-family: monospace;
    }
div {
    text-align: center;
    }
textarea {
    vertical-align:top;
}
.icon{
    width: 50px;
    height: 50px;
}
#t0{
    color:#ad9c9c;
    /* font-size: small; */
    font-style: italic;
}

#title{
    color: #e4349f;
    font-size: x-large;
    font-weight: bold;
}
#say{
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#output {
    background-color: #f5b04b;
    border-radius: 1vh;
    overflow: auto;
}
#day{
    text-align: right;
}
#name{
    color: white;
}
#upload{
    color: greenyellow;
    background-color: gray;
    border-radius: 10vh;
}
#send{
    color:rgb(235, 220, 11);
    background-color: gray;
    border-radius: 10vh;  
}